* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #000;
}

/* Header */
.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  color: white;
  font-size: 32px;
  font-weight: 800;
}

.logo span {
  color: #ff4a2e;
}

/* Navigation */
.nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.nav li a:hover,
.nav li.active a {
  color: #ff4a2e;
}

/* Sign Up Button */
.btn {
  background: #ff4a2e;
  padding: 10px 20px;
  color: white !important;
  border-radius: 3px;
}

.btn:hover {
  background: #e63e26;
}
.video-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-banner video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

/* overlay text */
.overlay {
  position: relative;
  z-index: 1;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay h1 {
  font-size: 50px;
  font-weight: 800;
}

.overlay p {
  font-size: 20px;
  color: #f0eeee;
}
.programs {
  padding: 100px 10%;
  background: #fff;
  text-align: center;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 800;
}

.section-title span {
  color: #ed563b;
}

.section-title p {
  color: #7a7a7a;
  margin-top: 10px;
}

.program-boxes {
  margin-top: 60px;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.program-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  max-width: 500px;
}

.program-card .icon {
  background: #ed563b;
  padding: 25px;
  border-radius: 5px;
}

.program-card .icon img {
  width: 40px;
}

.program-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.program-card p {
  color: #7a7a7a;
  font-size: 14px;
  line-height: 1.7;
 justify-content: center;
 text-align: center;
}

.program-card a {
  display: inline-block;
  margin-top: 10px;
  color: #ed563b;
  font-weight: bold;
  text-decoration: none;
}
.cta {
  background: url("cta-bg.jpg") center/cover no-repeat;
  padding: 120px 10%;
  text-align: center;
  color: white;
}

.cta-content {
  max-width: 800px;
  margin: auto;
}

.small-text {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 20px;
  line-height: 1.8;
}

.cta h1 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 25px;
}

.cta h1 span {
  color: #ed563b;
}

.cta-btn {
  display: inline-block;
  background: #ed563b;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  transition: 0.3s;
}

.cta-btn:hover {
  background: #ff3c1f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #ffffff;
}

.training-section {
  width: 90%;
  margin: 60px auto;
  display: flex;
  gap: 40px;
}

/* LEFT SIDE */
.training-list {
  width: 35%;
}

.training-item {
  background: #fff;
  padding: 25px 30px;
  margin-bottom: 25px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: 0.3s;
}

.training-item:hover {
  transform: translateY(-5px);
}

.training-item i {
  font-size: 28px;
  color: #ff4a2e;
}

.training-item h4 {
  font-size: 20px;
  color: #222;
}

.training-item.active h4 {
  color: #ff4a2e;
}

/* RIGHT SIDE */
.training-content {
  width: 65%;
}

.training-content img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 25px;
}

.training-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #111;
}

.training-content p {
  color: #666;
  line-height: 1.8;
  font-size: 16px;
}
.btn {
  background: #ff4a2e;
  padding: 10px 20px;
  color: white !important;
  border-radius: 3px solid white;
  cursor: pointer;
}

.btn:hover {
  background: #e63e26;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* SECTION */
.schedule-section{
  position: relative;
  padding: 100px 0;
  background: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/schedule-bg.jpg") center/cover no-repeat;
}

.schedule-section::before{
  content:"";
  position:absolute;
  inset:0;
  /* background: rgba(131, 140, 150, 0.85); */
}

.schedule-container{
  position: relative;
  width: 80%;
  margin: auto;
  text-align: center;
  color:#fff;
}

/* TITLE */
.schedule-container h2{
  font-size: 32px;
  margin-bottom: 10px;
}

.schedule-container h2 span{
  color:#ff4a2e;
}

.schedule-desc{
  max-width: 650px;
  margin: 15px auto 40px;
  color:#ccc;
  font-size:15px;
  line-height:1.7;
}

/* DAYS */
.schedule-days{
  margin-bottom: 35px;
  font-size:15px;
}

.schedule-days span{
  margin: 0 8px;
  color:#fff;
}

.schedule-days .active{
  color:#ff4a2e;
}

/* TABLE */
.schedule-table{
  width:100%;
  border-collapse: collapse;
}

.schedule-table td{
  border:1px solid rgba(255,255,255,0.4);
  padding: 25px;
  font-size:14px;
}

.schedule-table .class-name{
  font-weight: bold;
}

.schedule-table .time{
  color:#ff4a2e;
  font-weight: bold;
}

.schedule-table .trainer{
  font-size:13px;
  color:#ddd;
}
.profile-cards{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px; */
}

/* Card */
.card{
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.trainer-section{
  padding: 100px 0;
  background:#fff;
}

.trainer-container{
  width:85%;
  margin:auto;
  display:flex;
  gap:40px;
  justify-content:center;
}

/* CARD */
.trainer-card{
  width:320px;
  background:#fff;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  overflow:hidden;
  transition:0.3s;
}

.trainer-card:hover{
  transform: translateY(-10px);
}

/* IMAGE */
.trainer-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

/* CONTENT */
.trainer-content{
  padding:25px;
}

.trainer-role{
  color:#ff4a2e;
  font-size:13px;
  margin-bottom:8px;
}

.trainer-name{
  font-size:20px;
  font-weight:bold;
  margin-bottom:12px;
  color:#111;
}

.trainer-desc{
  font-size:14px;
  color:#777;
  line-height:1.7;
  margin-bottom:18px;
}

/* SOCIAL ICONS */
.trainer-social a{
  margin-right:12px;
  color:#111;
  text-decoration:none;
  font-size:15px;
  transition:0.3s;
}

.trainer-social a:hover{
  color:#ff4a2e;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-section{
  display:flex;
  min-height:550px;
}

/* MAP */
.contact-map{
  width:50%;
}

.contact-map iframe{
  width:100%;
  height:100%;
  border:0;
}

/* RIGHT BACKGROUND */
.contact-bg{
  width:50%;
  background: url("contact-bg.jpg") center/cover no-repeat;
  position:relative;
}

.contact-bg::before{
  content:"";
  position:absolute;
  inset:0;
  background: rgba(20,30,40,0.85);
}

/* FORM BOX */
.contact-form{
  position:relative;
  background:#fff;
  width:80%;
  margin:80px auto;
  padding:40px;
  border-radius:6px;
}

/* INPUTS */
.form-row{
  display:flex;
  gap:20px;
  margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
  width:100%;
  padding:14px 15px;
  border:1px solid #ddd;
  font-size:14px;
  outline:none;
}

.contact-form textarea{
  resize:none;
  height:150px;
}

/* BUTTON */
.contact-form button{
  background:#ff4a2e;
  color:#fff;
  border:none;
  padding:12px 30px;
  cursor:pointer;
  font-size:13px;
  font-weight:bold;
}

.contact-form button:hover{
  background:#e13d25;
}
 /* ===== HAMBURGER MENU ===== */
.menu-toggle {
  display: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
/* ===== TABLET (iPad) ===== */
@media (max-width: 1024px) {

  /* HEADER */
  .container {
    flex-wrap: wrap;
  }

  /* TRAINING SECTION */
  .training-section {
    flex-direction: column;
  }

  .training-list,
  .training-content {
    width: 100%;
  }

  /* PROGRAM CARDS */
  .program-boxes {
    gap: 25px;
  }

  .program-card {
    max-width: 100%;
  }

  /* TRAINERS */
  .trainer-container {
    flex-wrap: wrap;
  }

  .trainer-card {
    width: 45%;
  }

  /* CONTACT */
  .contact-section {
    flex-direction: column;
  }

  .contact-map,
  .contact-bg {
    width: 100%;
  }

}


/* MOBILE NAV */
@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  nav {
    width: 100%;
  }

  .nav {
    display: none;
    flex-direction: column;
    background: rgba(0,0,0,0.95);
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    text-align: center;
  }

  .nav.show {
    display: flex;
  }

  .nav li {
    margin: 10px 0;
  }
}
